@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";
@import "@fontsource/inter/cyrillic-400.css";
@import "@fontsource/inter/cyrillic-500.css";
@import "@fontsource/inter/cyrillic-600.css";
@import "@fontsource/inter/cyrillic-700.css";
@import "primeicons/primeicons.css";

body {
  font-family: Inter, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.card {
  background: var(--p-content-background);
  color: var(--p-content-color);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}
